header{
    display: flex;
    justify-content: space-between;
    background-color:rgb(255, 255, 255);
    align-items: center;
}

header img:first-child{
    width: 100px;
    height: 100px;
}

header img:nth-child(2){
    width: 200px;
    height: 100px;
    
    
}

.shop img{
    
    width: 320px;
    height: 320px;
    border: 3px solid rgb(88, 66, 66);
    background-color: rgb(226, 208, 208);
}

.shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    
}
.shop > div {
    display: flex;
    flex-direction: column;
    
    

}