header{
    display: flex;
    border-bottom: 3px solid purple;
    align-items: center;
    justify-content: space-between;
   
}
header div:last-child{
    margin-left: auto;
}

.logo{
    width: 50px;
    height: 50px;
}
div ol{
    display: flex;
    
}
li{
    list-style: none;
   
}


img{
    width: 150px;
    height: 200px;
    padding: 15px;
}